[2016-10-06 00:54] slgobinath opened #1 "%20 in filename"
If filename is extracted from the url, depending on the url filename contains %20.

[2016-10-06 17:22] #1 closed

[2016-10-06 17:23] slgobinath commented on #1
Fixed with https://github.com/slgobinath/uget-chrome-wrapper/commit/88610651fdec417221e12863f4f87bf146d35032

[2016-10-12 04:02] slgobinath opened #2 "Downloading 'ServiceLogin.html' instead of actual Google Doc file"
When downloading from Google Doc, uGet Integration interrupts the download but uGet downloads an HTML file 'ServiceLogin.html'. This is a problem regarding the URL generated by Google Doc for authentication process.

Pressing Insert key does not skip uGet so it always interrupt the Google Doc download. Only way to download is, disabling uGet extension and then downloading using Chrome.

Fix this p

[2016-10-12 14:27] slgobinath commented on #2
Fixed with https://github.com/slgobinath/uget-chrome-wrapper/commit/6263e337a4e93d5486f1d4f293c2ad188bb25ee2

Fix: Ignore Google Doc links from being interrupted.

[2016-10-12 14:28] slgobinath commented on #2
Fixed with https://github.com/slgobinath/uget-chrome-wrapper/commit/6263e337a4e93d5486f1d4f293c2ad188bb25ee2

Fix: Ignore Google Doc links from being interrupted.
Fixed extension version: 1.1.1

[2016-10-12 14:28] #2 closed

[2016-10-26 01:51] idongyou opened #3 "I've been installed it in Manjaro"
Manjaro 16.10 Fringilla
uGet 2.0.8
Chromium 54
Manual Installation
It works very well, thank you! 👍

[2016-10-26 07:06] slgobinath commented on #3
Thank you for your motivation :-) . I am adding Manjaro to the list of tested environments.

[2016-10-26 07:06] #3 closed

[2016-10-27 06:15] idongyou opened #4 "uget-chrome-wrapper available in aur"
https://aur.archlinux.org/packages/uget-chrome-wrapper

[2016-10-27 13:02] slgobinath commented on #4
@idongyou Thank you for your effort on making this available on AUR. I have a suggestion regarding the PKGBUILD. Could you please install `com.javahelps.ugetchromewrapper.json` into both `/etc/opt/chrome/native-messaging-hosts` and `/etc/chromium/native-messaging-hosts` so that users can use it without worrying about their browser (Thats how the [deb](/etc/chromium/native-messaging-hosts) package

[2016-10-28 05:43] idongyou commented on #4
Sorry, I did not make it clear that my only effort was to release the address of the package on the # archlinux-cn IRC channel. Sasasu is the real Submitter. So I suggest you communicate with him directly. His mailbox is izhaolong0123@gmail.com.
Once again, thank you for solving the problem with chromium.
**My English is very poor, I hope you can understand what I mean**

[2016-10-28 06:31] Sasasu commented on #4
I think the user should choose their own browser.
If someone is using chromium, just change
[code]
to
[code]

And my email is **l**izhaolong0123@gmail.com ...

[2016-10-28 06:56] Sasasu commented on #4
Maybe work like deb will receive fewer issues. now it is
[code]
But Arch users should check PKGBUILD by themselves.
[carefully check the PKGBUILD and any .install file for malicious commands. ](https://wiki.archlinux.org/index.php/Arch_User_Repository#Build_and_install_the_package)

[2016-10-28 15:56] slgobinath commented on #4
@idongyou @Sasasu Thanks to both of you for your contribution and the site is updated.

[2016-10-28 15:56] #4 closed

[2016-10-28 16:25] idongyou opened #5 "can't get cookie frome chromium"
uget-chrome-wrapper can't get cookie frome chromium.

[2016-10-31 23:26] doylefermi opened #6 "Google Doc files cannot be downloaded via uGet"
Please add feature to add exceptions in uget-chrome-wrapper to not to download from specific URLs.

[2016-10-31 23:50] slgobinath commented on #6
Google Doc is already skipped by uget-chrome-wrapper (See the issue https://github.com/slgobinath/uget-chrome-wrapper/issues/2). Please make sure that you have the uGet Integration extension 1.1.1 or latest.

[2016-11-01 00:12] doylefermi commented on #6
Screenshare
![output](https://cloud.githubusercontent.com/assets/8755940/19875794/dba58b20-9ff5-11e6-8e4e-eebd5c114dd7.gif)

[2016-11-01 01:20] slgobinath commented on #6
Thanks for reporting this bug. A quick fix will be released soon.

[2016-11-01 04:02] slgobinath commented on #6
Fixed with https://github.com/slgobinath/uget-chrome-wrapper/commit/354cdd4e3b53f25221051a875299ae8de68b7fb5
Upgrade the Chrome Extension to 1.1.2 or latest (A new version of uget-chrome-wrapper also released with a patch for another bug)
See the release [v1.3](https://github.com/slgobinath/uget-chrome-wrapper/releases/tag/v1.3)

[2016-11-01 04:02] #6 closed

[2016-11-01 14:06] doylefermi commented on #6
Is it possible to generalize the call. Instead of passing to uGet alone, passing to aria2c will also do. Something as a replacement for [Flashgot](https://flashgot.net/) for firefox

[2016-11-01 14:39] slgobinath commented on #6
@doylefermi It is possible but uget-chrome-wrapper targets uGet alone. I do not have any idea of generalizing this as Flashgot because it requires more testing and development effort. I see uGet as a potential download manager for Linux and thats the only reason to support uGet. However I +1 your suggestion and volunteers are welcomed to fork this project and develop such a generalized extension.

[2016-11-04 13:54] doylefermi opened #7 "Why some files are ignored while some are downloaded"
![Screencast](https://cloud.githubusercontent.com/assets/8755940/20007864/2e0661c0-a2c4-11e6-9cd6-9d481b1a8c19.gif)

Using the latest version 1.1.2
Some files aren't captured while some are. Is there something to be configured?

[2016-11-04 14:05] slgobinath commented on #7
uGet Integration extension captures the downloads with HTTP 200 status if the file size is greater than 300 kb. However, I also noticed that it does not capture the downloads from SaveFrom.net (Earlier it captured them but now I think the SaveFrom.net changed it's own behavior). I am working on it and I will release the fix as soon as possible. thanks for reporting this issue.

Note: If the SaveFr

[2016-11-04 16:43] slgobinath commented on #7
From uGet Integration extension v1.1.3,  an option to `Download with uGet` is added to the right click context menu of links. I hope it will help you until I resolve the exact problem.

This is what you have to do:
1. Right click on the link
2. Select Download with uGet

[2016-11-04 16:46] doylefermi commented on #7
Yes that's a good workaround.

The response from SaveFrom.net is a HTTP 302 and its a redirection. I guess HTTP 200 alone shouldn't be considered.

[2016-11-05 00:43] slgobinath commented on #7
Fixed with https://github.com/slgobinath/uget-chrome-wrapper/commit/b9d9a19bed38694b6b4088dbddfdc754b5a4667b and the fix is added in v1.1.4.

[2016-11-05 00:44] #7 closed

[2016-11-05 01:37] doylefermi commented on #7
Yes that's a perfect fix. Thanks.

But now `Insert` cannot stop capturing the downloads.

Also when downloading from savefrom.net, single click captures the download with filename `videoplayback` while Rightclick->OpenLinkInNewTab captures the original filename.

[2016-11-05 02:44] slgobinath commented on #7
Yes I've noticed them. Once I find a fix, I will release a new version :-)

[2016-11-07 14:10] slgobinath commented on #5
@idongyou The extension captures the cookies but passing them through command line to the uGet has no impact on its behavior. Therefore it hasn't been passed to uGet. If you have a use case where it is required, please let me know.
Thanks

[2016-11-09 15:11] slgobinath commented on #7
@doylefermi Please check the new release with uget-chrome-wrapper v1.3.3 and uGet Integration extension v1.1.6.

This version has the following:
 - Ctrl + Shift + U to disable uGet Integration extension temporarily
 - Option to exclude URLs
 - Smart capture from native Chrome download
 - Extract Youtube video file names from the URL generated by SaveFrom.net

[2016-11-22 01:51] flawiddsouza opened #9 "Extension opens uget-chrome-wrapper.py instead of executing it on Windows 10"
As the title says, chrome opens uget-chrome-wrapper.py instead of executing it whenever I choose "Download with uGet". uget-chrome-wrapper.py just gets opened in my code editor.

[2016-11-22 05:10] doylefermi commented on #7
Thanks. It works now.

[2016-11-22 05:13] doylefermi commented on #9
Hope you have followed the [tutorial](https://slgobinath.github.io/uget-chrome-wrapper/#windows) and is python working?

[2016-11-22 14:01] flawiddsouza commented on #9
Yes but I think python needs to be associated with .py files for this to work. My .py files are associated with my code editor. Associating them with the python executable would make it really annoying to open them when you're coding in Python. Any solution? In Windows, python files need to executed by prepending py or python before the python files.

[2016-11-30 09:49] slgobinath commented on #9
I will add a fix for this issue soon.

[2016-12-09 10:22] UncleInf opened #10 "Request for Opera Extension"
Vast majority of applications written for chrome does work correctly on opera using [link](https://addons.opera.com/en-gb/extensions/details/download-chrome-extension-9/). This is possible due to the fact that opera is based on chromium. Sadly after successfully trying plugin on chrome it doesn't work on opera. I've skimmed through opera API and NativeMessagingHosts message sending should be the s

[2016-12-12 15:17] tuyennn opened #11 "Auto download .torrent file Ubuntu 16.04 Chrome Version 55.0.2883.75 (64-bit)"

[2016-12-16 01:16] slgobinath commented on #10
Hi,
Did follow the manual installation method for chromium & Vivaldi? Opera uses the settings of Google Chrome. Install the uget-chrome-wrapper for Google Chrome and test it with Opera. According to my system (Linux Mint 18, Opera 42.0, uget-chrome-wrapper installed using apt) uGet Integration works as expected.

[2016-12-20 05:28] slgobinath commented on #9
This problem seems to be hard to fix. Introducing a bat file to call python explicitly or, executing python with the script as argument directly from the chrome does not work. Only possible way would be converting the python script to exe or writing a native messaging client in any other languages which produce compiled exe file (Eg: C, C++, .Net). Since uGet Chrome Wrapper targets Linux and the d

[2016-12-20 05:28] #9 closed

[2016-12-20 20:45] flawiddsouza commented on #9
That's disappointing but understandable.

[2016-12-26 18:47] MichaelTunnell commented on #11
Is this question a problem with uGet not starting the download or with the extension not sending the .torrent file? If the former, then this not a question for this github project but rather a question for uGet.

However, considering I am the Project Manager for uGet, please feel free to clarify.

[2016-12-26 19:09] MichaelTunnell opened #12 "Migrate from Python 2 to Python 3"
Hi,

I'm the Project Manager for uGet and I'd like to request a switch from Python 2 to Python 3.

I just found this project and I was very excited to see this and appreciate the work you've done on this thus far.

I know why it was made with 2.7 due to usage of things like PyPy but ultimately I think using Python 2 is something that should be avoided whenever possible.

Do you have any plans to m

[2016-12-27 01:30] slgobinath commented on #12
It's an amazing surprise to see you here :-)
Sure I will move it soon.

[2016-12-30 17:38] MichaelTunnell commented on #12
I try to be attentive as much as possible.

I am in no particular rush for it to be moved, I just wanted to make sure that it would be on the roadmap. :)

--------

I will be testing it myself soon to see how well it works, I am not a Chrome user so this has not been a vital issue for me but I know it has been for a lot of people so if this solves their issue then I'll be very happy to let people

[2017-01-15 16:50] ForceBro12 commented on #10
I don't know what happen, but opera is slightly different from chromium and vivaldi. It won't install extensions from chrome extension website (chrome webstore), but it can be installed manually by downloading the .crx file. I use [this website](http://chrome-extension-downloader.com) to download the crx file, open the extension manager (extensions - manage extensions), drag and drop the crx file,

[2017-02-14 18:12] MicroBeast opened #13 "Fail to send to running uGet"
**uGet Integration 1.1.6**: Installed.
**uget-chrome-wrapper 1.3.4**: Installed.
**Browsers**: Chromium (Debian repo), Vivaldi, Opera.
Linux/Debian sid amd64

It's fine if uGet it self not already running.
Neither Download detection & Context Menu "Download with uGet" are working if uGet already running.

[2017-02-15 01:38] slgobinath commented on #13
Hi,
It seems to be a strange issue. What is the uGet version?

[2017-02-15 14:39] MicroBeast commented on #13
2.0.8 from Debian repo.

[2017-02-16 01:34] slgobinath commented on #13
I am unable to reproduce this issue in my system with Linux Mint. I will test it with Debian and update you.

[2017-02-17 13:02] MicroBeast commented on #13
Okay, thank you.

[2017-02-20 01:10] slgobinath commented on #12
Hi @MichaelTunnell,

I have switched to Python 3 in a [new branch](https://github.com/slgobinath/uget-chrome-wrapper/blob/uget-chrome-wrapper-2/uget-chrome-wrapper/bin/uget-chrome-wrapper). I will merge it to the master and update the documentation, once I've completed testing on various platforms.

Could you please provide a sample scenario where sending `--http-cookie-data` has impact on the dow

[2017-02-20 01:11] slgobinath commented on #11
Closing this issue as no further updates from the reporter.

[2017-02-20 01:11] #11 closed

[2017-02-20 02:04] slgobinath commented on #13
Hi @MicroBeast,
I couldn't reproduce this issue in my testing environment. Tested with Debian 8.7.1_x64 bit, uGet 2.0.8, uGet Integration 1.1.6, uget-chrome-wrapper 1.3.4 (Manually installed for both Google Chrome and Chromium). The browsers tested are Google Chrome and Vivaldi.

Could you please test whether this is a problem related to uGet by using the following command in terminal:

[code]

Ex

[2017-02-20 10:23] MicroBeast commented on #13
[code]
Work as suppose to be. It send the link to uGet and it offer to download. Although I'm not sure why it start downloading with aria2c while the setting point to curl.

---
But nevermind that. Your script + extension work now.

After receiving your mail about testing uGet. I got nailed to "testing uGet".
So, I move old uGet profile & let uGet build fresh profile. And blam... it work.
Thing I

[2017-02-20 11:45] slgobinath commented on #13
Thank you for letting me know. I am closing this issue.

[2017-02-20 11:45] #13 closed

[2017-02-24 17:22] slgobinath commented on #10
I have submitted the addon to Opera. Once it is approved, Opera users can enjoy the addon with less effort :)

[2017-02-24 20:16] MichaelTunnell commented on #12
Awesome!

Cookie Data is useful in situations where a user is trying to download a file that requires account authentication and checking previous authentication via cookies.

I am not sure what a good way to do this would be.

[2017-02-24 20:50] slgobinath commented on #12
Hi @MichaelTunnell,
Doesn't uGet use the `--http-cookie-data`? I tried to pass session id using `uget-gtk --http-cookie-data='sessionId:xxx' <url>` but it has no impact. If you can clarify the input format, that would be helpful for me to implement it.

Thanks

[2017-02-25 17:10] slgobinath commented on #10
Until Opera extension is approved, you can use [Download Chrome Extension](https://addons.opera.com/extensions/details/app_id/kipjbhgniklcnglfaldilecjomjaddfi) to install the addon.

Step 1. Install the  [Download Chrome Extension](https://addons.opera.com/extensions/details/app_id/kipjbhgniklcnglfaldilecjomjaddfi) addon
Step 2: Visit to [uGet Integration web store](https://chrome.google.com/webst

[2017-02-25 17:10] #10 closed

[2017-02-25 17:11] slgobinath commented on #12
`uget-chrome-wrapper` 2.0.0 (Migrated to Python 3) with new extension is released.

[2017-02-25 17:11] #12 closed

[2017-02-27 09:01] UncleInf opened #15 "Unable to connect to the uget-chrome-wrapper"
When using chrome or opera getting error:
`Error: Unable to connect to the uget-chrome-wrapper`

Windows 7 x64
Chrome 56
Plugin reinstalled v2
Extention reinstalled v2

Before updating extention worked on chrome.

[2017-02-27 11:29] slgobinath commented on #15
Hi,
Have you updated the Python to 3.4 or latest? That is the major change with v 2.

[2017-02-27 11:47] UncleInf commented on #15
Yes, I have python3 installed
[code]

Running: `python uget-chrome-wrapper.py` launches without problem.

[2017-02-27 11:53] slgobinath commented on #15
Then it seems to be a problem. Please check if you double click the `C:\Program Files (x86)\uget-chrome-wrapper\uget-chrome-wrapper.py` whether it open in Python console or text editor.
Meanwhile, I will test it on Windows 7 (I have tested on Windows 10 64bit. It is working properly)

Thanks

[2017-02-27 14:14] slgobinath commented on #15
Thanks for reporting the bug. This bug occurs in lower versions of Python due to my fault. I'll release the fix soon. Sorry for the trouble.

[2017-02-27 14:43] slgobinath commented on #15
A new version [uget-chrome-wrapper_2.0.2.exe](https://github.com/slgobinath/uget-chrome-wrapper/releases/download/v2.0.0/uget-chrome-wrapper_2.0.0.exe) is released. Could you please let me know whether you problem has been resolved with this fix.

Thanks

[2017-02-27 20:24] slgobinath commented on #10
Hi @UncleInf, @ForceBro12,
I am pleased to inform you that the Opera extension is now available at https://addons.opera.com/en/extensions/details/uget-integration/.

Please consider providing reviews :-)

Thanks & Regards,
Gobinath

[2017-03-06 08:22] UncleInf commented on #15
I've tried the updated version, but the problem remains.

Tried with opera (`uGet Integration Version 2.0.3`) and chrome on win7 x64. Updated python script `VERSION = "2.0.2"`

[2017-03-06 12:39] slgobinath commented on #15
Hi,
In the previous script, there was a problem with lower Python version but with the new version, it should be fixed. Please ensure that Python is the default application to open .py extensions. In other words, if you double click the `uget-chrome-wrapper.py`, it should run as a Python application.

[2017-03-07 08:02] UncleInf commented on #15
Hello,

I've double checked everything and it seems like the problem remains, atleast on my system. Double clicking `uget-chrome-wrapper.py` opens up cmd window for a brief moment, also on properties windows say it opens up with: python.exe

[2017-03-07 11:25] slgobinath commented on #15
Alright. I'll try my best to reproduce this issue and let you know.

[2017-03-09 16:37] slgobinath opened #16 "Failed to connect with uget-chrome-wrapper in Opera Arch"
This issue was reported in Opera addon review page. This is due to the inconsistency in Opera native-messaging configuration path. Usually Opera use the same directory as Google Chrome but in Arch AUR pack, it uses `/etc/opera` directory.

I have reproduced this issue and asked the AUR maintainer to release a new PKGBUILD with the fix. Also, I have updated the installation guide for "[Any Linux Sy

[2017-03-09 16:39] slgobinath commented on #16
I left it open until the AUR is updated.

[2017-03-10 05:30] Sasasu commented on #16
AUR has been updated.

[2017-03-10 11:20] slgobinath commented on #16
@Sasasu,
Thank you very much for the release.

[2017-03-10 11:20] #16 closed

[2017-04-06 07:38] ghostBot opened #17 "Let user to define the minimum size to ignore including 0"
Extension don't work on links like that:
[Icons for uget](https://netcologne.dl.sourceforge.net/project/urlget/uget%20%28stable%29/1.10.3/tray-icon-quick-fix-1.10.3.tar.gz)
I'm using uget-2.0.9, uget-chrome-wrapper-2.0.2, uGet Integration 2.0.3, python 3.4.5 on linux system

[2017-04-06 11:04] slgobinath commented on #17
The above file size is < 300 kb which uGet Integration extension does not care about. (See [backgroung.js](https://github.com/slgobinath/uget-chrome-wrapper/blob/master/extension/background.js#L159))

This condition is added to avoid the extra effort to download small files. Based on my opinion, tiny files do not require resume capability and/or multi-thread download acceleration. If you feel this

[2017-04-06 18:39] slgobinath commented on #17
+1 I will add UI support to define the minimum size.

[2017-04-15 06:46] #5 closed

[2017-05-02 12:59] johnp opened #18 "Support for Mozilla Firefox"
With the death of traditional extensions with Firefox 57 a lot of users are going to be in need for a new solution for managing their downloads.
I propose uGet to become the go-to default replacement for all these users. I just found this add-on minutes ago and would suggest adding support for Firefox.
I'm going to try to get it running in my Nightly build later today.

Approximate Userbase of the

[2017-05-02 14:01] johnp commented on #18
Ok, I've got it mostly working now (that was easy :) ).
Redirects don't seem to work yet and Firefox opens a tab in background with the binary interpreted as ASCII; I'll have a look at that in a couple hours.

[2017-05-02 14:18] slgobinath commented on #18
Hi @johnp,
I am little busy these days. Please update your results here (if you have fixed everything that's great :-) ) and I will continue from that later.

Thanks.

[2017-05-07 12:36] slgobinath commented on #18
Hi @johnp,
Your PR is merged and I've made some minor bug fixes. After further testings, I will release the Firefox addon. I leave this issue open until I release the Firefox addon.

Thank you very much for your contribution.

[2017-05-07 17:46] johnp commented on #18
Thank you for finishing this up, the last few days turned out to be busier for me than expected.

Currently it doesn't work because `hostName` in `background.js` needs to be `com.javahelps.ugetfirefoxwrapper` for the firefox manifest to load (the argument passed to `runtime.sendNativeMessage` needs to equal the filename and the `name` key in the json manifest.

Also, `com.javahelps.ugetfirefoxwrap

[2017-05-07 21:51] slgobinath commented on #18
Ohh. I'll fix it.

Thanks

[2017-05-07 22:14] slgobinath commented on #17
Added with https://github.com/slgobinath/uget-chrome-wrapper/commit/26f8ad1a37503dc220450435f657782a945473de. Will be included in the next release.

[2017-05-07 22:14] #17 closed

[2017-05-07 22:15] slgobinath commented on #18
I have made the changes. Also, I've added cookie support even though it is not working. I hope to fix everything asap.

[2017-05-09 15:31] slgobinath commented on #18
Hi,
The extension is submitted to Firefox [1] and I am waiting for the approval. I will release the binary for Ubuntu, Arch & Windows after approval.

[1] https://addons.mozilla.org/en-US/firefox/addon/ugetintegration/

[2017-05-09 16:04] slgobinath commented on #12
Hi @MichaelTunnell,

Sorry for contacting you here because I couldn't open a ticket in source forge. I have added cookie support to the extension. During the testing, I've noticed that uGet with aria2c does not use cookie file but uGet with curl plugin is working as expected. I am not sure whether I miss any configurations so I leave it to your concern.

Also, I'm pleased to inform you that Firefo

[2017-05-10 17:37] MichaelTunnell commented on #12
Not sure why the SF account isnt accepting tickets, that's weird.

Very nice. Regarding the aria2 thing I am not sure what is up with that. I will talk to CH about it.

Very cool and certainly something we might need in the future. I agree that FlashGot is overall the best option and has been for years but sadly there hasn't been any announcements that I have seen about them porting it to WebExten

[2017-05-10 18:17] slgobinath commented on #12
Hi,
I also haven't used IDM since I've switched to Linux. As far as I remember the dialog appears only after downloading one file triggered from the browser. If there are more than one concurrent downloads, then that many dialogs will appear. But the way uGet handles multiple downloads is different from IDM.

What I have in my mind as a feasible solution that answers all your questions is a dialog

[2017-05-17 16:32] slgobinath commented on #18
Hi,
All the setup files are released including Windows. Still waiting for the approval from Firefox team. You can test it using developer edition.

[2017-05-17 16:32] #18 closed

[2017-05-17 16:34] slgobinath commented on #15
Hi @UncleInf,
I faced a similar problem with Firefox in Windows and changed the way to connect the Python script in [v2.0.4](https://github.com/slgobinath/uget-chrome-wrapper/releases/tag/v2.0.4). Could you please test the new version and let me know whether it resolves your problem.

Thanks

[2017-05-17 16:37] slgobinath commented on #9
Hi @flawiddsouza,

I have changed the way to connect the host file in the latest version [v2.0.4](https://github.com/slgobinath/uget-chrome-wrapper/releases/tag/v2.0.4). This time I use a bat file to call Python so it should help you to resolve the problem.

Note: Please make sure that Python (we use Python 3 now) is added to the system PATH.

[2017-05-20 19:41] nithinmurali commented on #15
Hi,
  I am facing same issue in Ubuntu 14.04, Chrome 56. I have python3.x installed (but not default).

[2017-05-26 13:33] slgobinath commented on #15
Hi @nithinmurali,
I couldn't reproduce this in my Ubuntu 14.04 VM with Python 3.4.3.
[code]
Still I am unable to reproduce in Windows 10.

[2017-06-06 21:10] beew commented on #15
Same problem here. Ubuntu 16.04 fully up to date. Tried on both Chrome (59.0.3071.86)  and Opera (45.0) have python 3.5.1 installed from the standard repository.

[2017-06-06 23:45] slgobinath commented on #15
@beew,
Thanks for reporting the bug but I am clueless on the issue as I am unable to reproduce in my testing environments. Could you please enable logging by following these steps and share the log in the comment.
1. Open uget-chrome-wrapper
[code]
2. Uncomment the following two lines and save the changes
[code]
After uncommenting, it should become:
[code]
3. Open the browser and share the content

[2017-06-07 07:27] beew commented on #15
Hi, I am terribly sorry. I have goofed. I thought it is just a browser addon like downthemall for firefox, so I have just installed the uget integration via the browser. I didn't know I have to install uget-chrome-wrapper separately.  Now I have done that and the error goes away.

[2017-06-07 09:56] slgobinath commented on #15
Hi @beew,
No worries :-).

@UncleInf and @nithinmurali could you please send me the log in your system?

Thanks

[2017-06-07 12:05] UncleInf commented on #15
I have tried latest release and my problem seem to be gone - very good! Do you still need logs from my system?

[2017-06-07 12:30] slgobinath commented on #15
@UncleInf no thanks for updating.
I am closing this issue.

[2017-06-07 16:21] nithinmurali commented on #15
I got it working too. Thanks :)

[2017-06-29 20:54] cacophobe commented on #15
Thank you for making this :-)

I am facing this issue on Firefox, even though it works with the same installation configuration, on the same computer, in Chromium.

- Firefox: 54.0, 64 bit, Multiprocess enabled
- Python: 3.6.1
- Uget Chrome Wrapper: 2.0.4.0
- OS: Windows 10, 64-bit

Any help would be greatly appreciated.

[2017-07-06 04:31] saidbakr commented on #15
I have the same issue with Chrome Version `59.0.3071.115 (Official Build) (64-bit)` On Ubuntu 16.04 64bit with Xfce4. uGet Chrome version 2.0.4 and uGet 2.0.9

[2017-07-06 17:01] slgobinath commented on #15
@saidbakr how dod you install the uget-chrome-wrapper?
Could you please uninstall it and install again and let me know the result.

[2017-07-06 17:05] slgobinath commented on #15
@cacophobe your bug report has been confirmed. I will check this and release the fix soon.

Thanks for reporting.

[2017-07-08 10:02] KhogaEslam commented on #15
@slgobinath
I have same problem too
on `Ubuntu 17.04` and `chrome` browser

[2017-07-08 10:55] slgobinath commented on #15
@KhogaEslam Could you please enable logging by following these steps and share the log in the comment.
1. Open uget-chrome-wrapper
[code]
2. Uncomment the following two lines and save the changes
[code]
After uncommenting, it should become:
[code]
3. Open the browser and share the content of `~/uget-chrome-wrapper.log`

[2017-07-10 19:54] slgobinath opened #20 "Error: Unable to connect to the uget-chrome-wrapper"
If you are getting this error message in the uGet Integration extension, please make sure that you have installed `Python 3.4` or greater, `uGet 2.0.8` or greater and the latest version of `uget-chrome-wrapper`.
To see how to install `uget-chrome-wrapper`, visit the official page: [Installation Guide](https://slgobinath.github.io/uget-chrome-wrapper/#installation) Also make sure that you have rest

[2017-07-10 19:57] slgobinath commented on #15
@cacophobe, @KhogaEslam, @saidbakr I have opened a new issue #20  with clear instructions. If you couldn't resolve the problem, please share the _uGet version_, _Browser name and version_ and the _Operating System with version_ along with the **log**.

This issue is closed permanently.

[2017-07-10 19:57] #15 closed

[2017-07-11 11:51] KhogaEslam commented on #20
i have followed the steps [here](https://slgobinath.github.io/uget-chrome-wrapper/#ubuntu) and now it is working well !

although i followed the steps on the software's website and installed the extension from chrome extensions, but it didn't install the `uget-chrome-wrapper`

any way, now it is working well, thank you :)

[2017-07-11 12:55] slgobinath commented on #20
Software's web site?? Did you mean the Chrome extension web store? Because https://slgobinath.github.io/uget-chrome-wrapper is the official website.

[2017-07-11 15:19] KhogaEslam commented on #20
what about this one !?
http://ugetdm.com/

[2017-07-11 16:22] slgobinath commented on #20
@KhogaEslam that's the official site of **uGet Download Manager**. Actually, the uGet does not offer any official extensions for any browser and I tried to fill that gap by developing my own wrapper named `uget-chrome-wrapper` and the extension `uGet Integration`. I remember MichaelTunnell, mentioned this extension in his comments but still `uget-chrome-wrapper` is not officially part of uGet.

So

[2017-07-14 06:00] KhogaEslam commented on #20
@slgobinath
OK, Thank you,
By the way Your work is amazing, thanks again :)

[2017-07-16 15:29] ByCnck commented on #20
hi
i have same probleam. on deepin linux 15.4.1 and chrome 58.0.3029.110 (64-bit).
[code]

[2017-07-16 16:18] slgobinath commented on #20
Hi @ByCnck,
Due to this bug, the keyboard shortcuts were not working and thanks for reporting this bug.I have fixed the issue in https://github.com/slgobinath/uget-chrome-wrapper/commit/581396fdfd01bba896d16059c6d12726ee539c2a and released a new version of the extension 2.0.5 which is now available in chrome store.
However, this bug affects the shortcuts only and the extension should work as expec

[2017-07-17 07:41] ByCnck commented on #20
@slgobinath there is no error log after i started or restarted chrome.
[code]

[2017-07-17 07:46] ByCnck commented on #20
[code]

[2017-07-17 14:27] slgobinath commented on #20
@ByCnck,
Did you install the `uget-chrome-wrapper` manually?
If so, please ensure that the `com.javahelps.ugetchromewrapper.json` is in the `/etc/opt/chrome/native-messaging-hosts` directory.

`/etc/chromium/native-messaging-hosts` is for Chromium and Vivaldi.

[2017-07-18 05:24] trickymindful commented on #20
Hi @slgobinath I have this message

It seems that it works. But when I try to download something, uGet window does not open and when I open the uget-chrome-wrapper.log some of the lines reveal these:

Is there anything wrong?

Thanks

[2017-07-18 11:21] slgobinath commented on #20
Hi @trickymindful,
I think you do not have uGet download manager. Please install the uGet download manager from this URL: http://ugetdm.com/downloads

The infor message should be something like this:

[2017-07-18 11:49] trickymindful commented on #20
I use windows 7 and the site does not provide any installer just portable executable ones. I try moving its extracted files in c://uget/ still not working.On Jul 18, 2017 6:21 PM, Gobinath <notifications@github.com> wrote:Hi @trickymindful,
I think you do not have uGet download manager. Please install the uGet download manager from this URL: http://ugetdm.com/downloads
The infor message should be

[2017-07-18 12:27] slgobinath commented on #20
In Windows, you need to setup add the `C:\uget\bin` directory to the environment variable `PATH`. How to add this to the environment variable is explained in the installation guide to Windows users in https://slgobinath.github.io/uget-chrome-wrapper/.

Once you have added the path, you must be able to launch the uGet download manager from command prompt by using this command: `uget`

[2017-07-18 12:46] trickymindful commented on #20
The path to uget folder is already done and I can call it via cmd. But the chrome extension still cannot detect the uget. Must I restart my computer, or just the browser?On Jul 18, 2017 7:27 PM, Gobinath <notifications@github.com> wrote:In Windows, you need to setup add the C:\uget\bin directory to the environment variable PATH. How to add this to the environment variable is explained in the insta

[2017-07-18 15:15] ByCnck commented on #20
@slgobinath yes,i installed it manually."com.javahelps.ugetchromewrapper.json" is in the /etc/opt/chrome/native-messaging-hosts and i am ok now.thanks a lot.

[2017-07-18 16:55] trickymindful commented on #20
Hello @slgobinath, it is somehow doing well now. I don't know why though. I just uninstall and remove both 'uget' and 'uget-chrome-wrapper'. Then installing both again etracting the uget directly to 'c:/uget/' and then making sure uget can be executed from cmd. After that I install again the 'uget-chrome-wrapper' and run its bat file again. Not going well at first and I just give it up and rest. T

[2017-07-18 18:56] slgobinath commented on #20
@trickymindful, no worries and I am happy to hear that it has been resolved.

[2017-07-22 16:44] mbol8309 commented on #15
i'm getting the same error, i have installed fedora 25, vivaldi 1.10.867.48 (Stable channel) (64-bit), followed the steps in installation guide, enable logging and there is no file uget-chrome-wrapper.log. any tips?

[2017-07-22 16:49] slgobinath commented on #15
Hi @mbol8309,

Please check whether you have the file [com.javahelps.ugetchromewrapper.json](https://github.com/slgobinath/uget-chrome-wrapper/blob/master/uget-chrome-wrapper/conf/com.javahelps.ugetchromewrapper.json) in
[code]

[2017-07-22 16:55] mbol8309 commented on #15
yes : ll /etc/chromium/native-messaging-hosts/com.javahelps.ugetchromewrapper.json
-rw-r--r-- 1 root root 1177 Jul 18 22:50 /etc/chromium/native-messaging-hosts/com.javahelps.ugetchromewrapper.json

[2017-07-22 17:06] slgobinath commented on #15
The parent directory is not created by default. If all the following files are available, it should work in Vivaldi.
 - `/etc/chromium/native-messaging-hosts/com.javahelps.ugetchromewrapper.json`
 - `/usr/bin/uget-chrome-wrapper`
- The `uGet Intergation` extension

(Need to restart the browser after installing the files)

If it doesn't resolve the problem, I will test it in my Fedora virtual syste

[2017-07-22 17:14] mbol8309 commented on #15
please test or tell me how to enable vivaldi log, so i can search my self, i know is not your concern vivaldi logs, but i followed the steps and restarted vivaldi several times and enable logging but there is no log file. any tips would help.

PD: sorry for my english, my natural language is spanish

[2017-07-22 18:24] slgobinath commented on #15
Run Vivaldi from the Terminal using the following command:
[code]
Then visit this URL in the browser: [localhost:9222](http://localhost:9222) and click on the `uGet Integration` extension link.

No worries about the language. I am also not a native English speaker and have the same problem :-)

[2017-07-23 05:05] mbol8309 commented on #15
for what i see, he can't find the wrapper
[code]
but i don't have the experience in debugging extensions, tomorrow i'll give another try

[2017-07-25 12:18] AlwaysPS commented on #20
I'm using Fedora 27 and Mozilla Firefox. The installation guide for firefox doesn't work for me and after de-commenting the two lines mentioned here no log file can be found in my home directory.

Strangely enough, after moving the native-messaging-hosts file from globa position(i.e. /usr/lib/mozilla) to user position(i.e. ~/.mozilla), it works nicely as I would expected.

By the way, filename wit

[2017-07-25 13:05] slgobinath commented on #15
Hi @mbol8309,
I have tested it on Fedora 26.
I have installed the `com.javahelps.ugetchromewrapper.json` in the following path which is for Chrome but working for Vivaldi as well.
[code]
Please try to add the file in the `/etc/opt/chrome/native-messaging-hosts` and check the output.

[2017-07-25 13:20] slgobinath commented on #20
Hi @AlwaysPS,
Thanks for reporting the issue. According to my testing, in Fedora, the directory must be `/usr/lib64/mozilla/native-messaging-hosts`. I have updated the document.

Thanks again

[2017-07-26 02:36] mbol8309 commented on #15
more testing....:
in developer mode, when i tried to run
`sendMessageToHost('test')`
i get the following error:
[code]
maybe the erro is around here, because in the function callback is where
`ugetWrapperNotFound = (response==null)`

[2017-07-26 02:43] mbol8309 commented on #15
i need a way to debug the extension or undestand how it works so I can fix or see what is the problem. if can be possible write me to mbol8309@gmail.com so we did't full this post of developer talk.

[2017-07-28 16:14] BerthaG commented on #20
Hi @slgobinath ,
First thanks for your job, was using wrapper on archlinux perfectly, but for job reason I had to switch to debian9, and I did not manage to make it works with Stretch & chromium. (Error: Unable to connect to the uget-chrome-wrapper).

I followed the installation guide (ttps://slgobinath.github.io/uget-chrome-wrapper/#installation) except point 5 cause related to opera if I am corr

[2017-07-28 17:01] slgobinath commented on #20
Hi @BerthaG,
Can you add the `com.javahelps.ugetchromewrapper.json` in both of the following directories and restart the browser:
[code]
and
[code]
Please do let me know the result. If it is not working, I'll give a try on Debian.

[2017-07-28 17:20] BerthaG commented on #20
Hi @slgobinath ,

Thanks for the quick answer, I think you copy - paste twice the same directory.
com.javahelps.ugetchromewrapper.json was already in /etc/opt/chrome/native-messaging-hosts.
I reuploaded it, i give it a try but same result.

[2017-07-28 17:26] BerthaG commented on #20
@slgobinath ,
I guessed you mean /etc/chrome/native-messaging-hosts, ans still same result

[2017-07-28 18:40] BerthaG commented on #20
@slgobinath ,
Not sure what make it works, but now it is ;)
So I copied com.javahelps.ugetchromewrapper.json in /etc/chrome/native-messaging-hosts and /etc/opt/chrome/native-messaging-hosts :  Was not working. Then I dL the .deb package available and install over && reboot pc and now it is green ;)
Maybe the deb package is more suitable, no idea ...
Thanks for your help, maybe adding debian is the

[2017-07-28 19:05] slgobinath commented on #20
@BerthaG,
Thanks for reporting the result. Of course, I am thinking of providing a script to automate the installation because the behavior of browsers changes with the operating systems. I will release a script soon.

Thanks

[2017-07-31 15:00] slgobinath commented on #15
@mbol8309,
I have released a script to install uget-chrome-wrapper. Could you please try this solution:
[code]
Install the extension and restart the browser.

[2017-07-31 16:09] Michael-Z-Freeman opened #21 "Multiple old links occasionally load en masse (20 to 30 windows)"
Hi. I'm not sure yet if this is your software or uGet itself. But occasionally (every couple of weeks or something) a download will start and suddenly there are 20 to 30 new download windows on the screen. I have to terminate uGet and the problem goes away until a couple of weeks later. Latest version of the chrome add on (2.0.6) and latest uGet for Windows (2.0.9). Thanks !

[2017-07-31 17:43] slgobinath commented on #21
This is a problem with uGet Integration extension. Browsers refresh/revise their older downloads occasionally which causes to anxious uGet.

I also have faced this problem and will fix soon.

[2017-08-24 13:18] alleyoopster opened #22 "No Uget option in download dialog"
Uget 2.09 Wrapper 2.0.4 Firefox  55.0.2 (64-bit) OS Manjaro

Uget and wrapper both detected by plugin but when I try to download a file, Uget does not appear as an option in the download dialog box for Firefox. I only see the choices of "Open with" and "Save file"

[2017-08-24 13:25] slgobinath commented on #22
It does not work as Flashogot.
Select the save file option and uGet should interrupt the download. However, I do experience some issues with catching & skipping some downloads (Works well with Chrome but some problems in Firefox) and will fix them asap.

[2017-08-24 13:31] alleyoopster commented on #22
OK thanks for that. I tried another site and it is working there, but always fails on a google drive download. I am using this [link](https://drive.google.com/file/d/0B8ENyWhpePB8Mzc0NjVJMlZ1bEk/view)

[2017-08-24 13:36] slgobinath commented on #22
Google Drive is ignored purposefully at the extension level because it has some problems with external download managers. See this Ask Ubuntu question:[ How to download large Google Drive file with resume support in Ubuntu?](https://askubuntu.com/questions/770753/how-to-download-large-google-drive-file-with-resume-support-in-ubuntu)
However, you can try the `Download with uGet` option from the rig

[2017-08-24 13:40] alleyoopster commented on #22
OK cool. I can work around the google issue. I'll just get copy the download link as detailed in that link. thanks

[2017-08-24 13:42] slgobinath commented on #22
Great :-)
I am closing this issue.

[2017-08-24 13:42] #22 closed

[2017-08-26 06:31] hamimb1997 commented on #20
I had this error message as well. Originally I had Python 2.7 installed on my CentOS 7. So, I installed Python 3.6, but none of the suggestions I read from this page solved my problem.
I looked around for a while. In the wrapper file located in `/usr/bin/uget-chrome-wrapper` and its first line was this:
`#!/usr/bin/env python3`
I looked in the `/usr/bin` directory and there wasn't any "python3", b

[2017-08-27 06:24] gbcox opened #23 "Unable to connect to uget-chrome-wrapper - Fx 55"
Running under Fedora 26
Uget 2.1.5
Works fine with Chrome, debugging with Chrome shows:
2017-08-26 23:14:57,251 [INFO]: uget-chrome-wrapper is reading the message
2017-08-26 23:14:57,252 [DEBUG]: Message length: 19
2017-08-26 23:14:57,252 [DEBUG]: Received message: {"version":"2.0.6"}
2017-08-26 23:14:57,290 [DEBUG]: uGet version: 2.1.5
2017-08-26 23:14:57,290 [INFO]: Sending message: {"enable": t

[2017-08-27 13:29] slgobinath commented on #23
@gbcox,
How did you install the uget-chrome-wrapper? Did you use the script or manually created the files?

[2017-08-27 16:06] gbcox commented on #23
I used the script and followed the instructions here:
https://slgobinath.github.io/uget-chrome-wrapper/#manual-installation-for-all

[2017-08-27 16:25] gbcox commented on #23
I did some additional testing and found that it does work, if you install Fx from Mozilla.  If you use the Fedora rpm for Firefox it isn't working.  To recreate and debug you should install Fx from the Fedora repositories.

[2017-08-27 16:43] gbcox commented on #23
I found the issue, you have a bug in your script.
These lines are identical for lib and lib64... you should be downloading to the lib64 directory which you earlier created:

sudo wget https://raw.githubusercontent.com/slgobinath/uget-chrome-wrapper/v2.0.4/uget-chrome-wrapper/conf/com.javahelps.ugetfirefoxwrapper.json --output-document /usr/lib/mozilla/native-messaging-hosts/com.javahelps.ugetfiref

[2017-08-27 18:10] slgobinath commented on #23
Thanks for pointing out the script and I have fixed it with the commit: https://github.com/slgobinath/uget-chrome-wrapper/commit/3954969ec6bdb16d80396e16416d9e37de9eb675.

For nothing being interrupted, I will test it in my Fedora virtual machine and let you know. Could you please share the exact Firefox version as well.

FYI: I am using Firefox Nightly 57.0a1 (2017-08-27) (64-bit) in Linux Mint 1

[2017-08-27 18:52] gbcox commented on #23
I'm running this:  https://koji.fedoraproject.org/koji/buildinfo?buildID=960827
I also noticed the same issue on the version from Mozilla.  Nothing is intercepted.  You are correct, it works on the current nightly... however, instead of opening up a new tab as it does on Chrome, it opens up a new browser window - which you have to manually close.

[2017-08-28 14:27] slgobinath commented on #21
@Michael-Z-Freeman,
I have released a new version of the extension: 2.0.7 with a possible fix to this problem. Since it is hard to reproduce this bug, I cannot confirm whether it really fixes this problem or not. I leave this issue open and if you face the same problem again, please do let me know.

Thanks.

[2017-08-29 19:55] slgobinath commented on #23
Hi @gbcox,
I have tried with Firefox 55 in Fedora 26 and couldn't reproduce this problem. uGet captures the download but there is a known issue of Firefox loading the file as a text content in the tab.
I have released a new extension (2.0.7) which has the fix for that issue. Once Firefox team has approved the new add-on, it will be available to use.

[2017-08-29 19:58] gbcox commented on #23
Ok, when it posts I'll give it a try and report back.  Thanks!

[2017-09-04 17:14] temporaryMan1233 opened #24 "[Aesthetic Request]"
Hello

Your extension works great on Ubuntu 16.04 LTS, latest google chrome and latest uGet.
However, **I suggest making the extension icon a little big larger**?
Look: https://ibb.co/nDMrmv <- This is small!

An option to modify the size would be awesome!

Thank you
Temp Man

[2017-09-04 19:49] MichaelTunnell commented on #24
I'd suggest using this icon in whatever the max size is for an extension, I am not sure what that might be but the attached image is 48x48.

![uget-tray-downloading](https://user-images.githubusercontent.com/1056731/30037412-2b08bddc-9180-11e7-8b89-ed3aea041547.png)

[2017-09-04 23:00] slgobinath commented on #24
Hi,

I don't think browsers offer an option to change the size. It is decided by the browser. However, there is a small padding around the existing icon. That can be removed to make the icon bit larger.

@MichaelTunnell could you please share icon you suggest in 128x128px. The web store expects that size and I don't want to lose the quality by enlarging the 48x48 one. For the extension, we need to

[2017-09-05 06:32] temporaryMan1233 commented on #24
We don't want to remove all the padding. I'm not sure, but that might make it a little too big.
Let us take the size of Ad Block Plus as a reference. I think its size is perfect. Maybe remove half of the remaining padding?

Now to be honest they look like they're almost the same in size, but usually our eyes don't perceive it.

[2017-09-05 18:57] MichaelTunnell commented on #24
That is probably because the icon has padding itself and then added padding by the browser. The default icon we used back then had padding for the shadow effect. I am considering updating the icon for the app, we'll see.

I shared that because that was the biggest I had. I will make a new one at that size though as soon as I have time to do so.

[2017-09-05 23:21] slgobinath commented on #24
@MichaelTunnell,
The icon suggested by you also has a padding so I leave this issue open until you create the new icon. Since this issue is less important we can take our time.

[2017-09-08 16:24] NovaViper opened #25 "Doesn't work all the time in Vivaldi"
For some reason, the extension doesn't start up uGet in Vivaldi with (almost) every link I've tried. This same thing happens on both my desktop and laptop.

Both PCs have Vivaldi 1.11.917.39 (Stable channel) (32-bit), uGet 2.0.10, Python 3.6.2, uGet Wrapper 2.0.4, uGet Wrapper Extension 2.0.7, and running Windows 10 Home 64-bit.

Some of the places I've tried are Curse/CurseForge (for Minecraft),

[2017-09-11 11:13] slgobinath commented on #25
Hi,
I will test it in my virtual machine and let you know.

[2017-09-12 17:49] bobafetthotmail opened #26 "The firefox addon needs better installation info for linux"
I just installed your uGet addon on Firefox on OpenSUSE Linux, it's great, thanks for making it. :)

I wanted to report on some difficulties I had to install it.
The main Firefox addon description page does not say that I need to install **uget-chrome-wrapper** too and I don't see post-installation pages telling me that either (at least on OpenSUSE) https://addons.mozilla.org/en-US/firefox/addon/u

[2017-09-12 17:51] slgobinath commented on #26
@bobafetthotmail your suggestions make sense. I will update them soon

Thanks

[2017-09-12 19:11] MichaelTunnell commented on #26
I plan on adding instructions to the official uGet website as well. ;)

[2017-09-15 08:22] Sasasu opened #27 "update firefox addon to version 2.0.9"
which is still 2.0.4

https://addons.mozilla.org/en-US/firefox/addon/ugetintegration

[2017-09-15 11:14] slgobinath commented on #27
Hi,
I have already uploaded the new version but Mozilla developers take time to manually analyze and approve the addon.
Nowadays I also use Firefox and waiting for my own addon :-(

[2017-09-21 19:29] slgobinath commented on #27
Finally, the waiting has come to an end.
Firefox 2.0.9 addon is published. Go and try the `Download all links with uGet` option in the context menu.
To get this option, right-click somewhere on a web page except links.

[2017-09-21 19:29] #27 closed

[2017-09-21 19:36] slgobinath commented on #26
Hi @bobafetthotmail,
I have included the links to extensions & add-ons to print at the end of the install script. Further, the addon window now shows a message `For more details and installation guide, visit the Home Page` with a link to https://slgobinath.github.io/uget-chrome-wrapper/.

Do you find it satisfies your requirement? If so, I will close this issue. If you have any suggestions to impr

[2017-09-21 19:42] slgobinath commented on #25
Hi,

Based on my testing, I couldn't find any problems. However, please note that uGet Integration extension does not interrupt Google Drive links purposefully. (For more details: [How to download large Google Drive file with resume support in Ubuntu?](http://askubuntu.com/questions/770753/how-to-download-large-google-drive-file-with-resume-support-in-ubuntu).

According to my testing, at least Gi

[2017-09-21 19:45] slgobinath commented on #23
@gbcox the add-on 2.0.7 version was not approved and now 2.0.9 is available. Could you please try this with the new uget-chrome-wrapper 2.0.5.

Steps to follow:
1. Install the latest uget-chrome-wrapper using the same scripts you used earlier
2. Install the latest addon

[2017-09-21 21:48] NovaViper commented on #25
I played around with the settings and got those websites to work! But.. I do notice that whenever I download files from Google Drive, it seems to convert it to a bunch of letters with no format at the end

[2017-09-22 01:22] slgobinath commented on #25
Thanks for the update.
I am closing this issue.

[2017-09-22 01:22] #25 closed

[2017-09-22 07:26] bobafetthotmail commented on #26
Thanks, it's good now.

[2017-09-22 07:26] #26 closed

[2017-09-22 14:54] BikramKumar6928 opened #28 "Adding a video grabber tooltip and selected link downloading tooltip to the existing project"
It will greatly increase the functionality of the extension.

[2017-09-22 23:11] NovaViper commented on #25
What about the downloads from Google? The same thing happens whenever I download from MEGA or any Google website

[2017-09-23 01:26] NovaViper opened #29 "Chrome edition of Uget wrapper can't detect Python after reinstallation"
For some reason, ever since I reinstalled Python 3.6.2 (I originally had the 32bit version, now I have the 64 bit), the extension keeps saying "Error: Unable to connect to the uget-chrome-wrapper". I tried the following:
- Uninstall and reinstall Python
- Uninstall and reinstall uGet Wrapper
- Added all PATH variables for Uget + Wrapper and PYTHON_HOME variable
- Removed and reinstall extension
-

[2017-09-23 12:21] slgobinath commented on #25
If a link contains either of these: `//docs.google.com/`, `googleusercontent.com/docs` the extension will skip it (See [background.js](https://github.com/slgobinath/uget-chrome-wrapper/blob/master/extension/background.js#L484).
Further, some cloud storages stream the file to download instead of providing direct URLs. In such cases, the filename reported by the browser is either `0` or `-1` which i

[2017-09-23 12:23] slgobinath commented on #29
Hi,
Again I need some time to test this on my VM. I will update you on coming Monday.

[2017-09-24 00:54] MichaelTunnell commented on #25
Support for MEGA in uGet is actually in development. :)

[2017-09-24 01:00] NovaViper commented on #25
Cool but.. what about all google domain websites?

[2017-09-24 01:55] MichaelTunnell commented on #25
That would require building support for Google Authentication API which is not something on our todo list at the moment. I won't rule it out but we have other plans that are taking priority for sure.

[2017-09-24 01:58] NovaViper commented on #25
Cool, glad to know that you guys that it's something considered ^_^

[2017-09-25 14:27] slgobinath commented on #29
Hi,
I have tried Python 3.6 with [uGet Chrome Wrapper 2.0.5](https://github.com/slgobinath/uget-chrome-wrapper/releases/download/v2.0.5/uget-chrome-wrapper_2.0.5.0.exe) and uGet Integration extension 2.0.9 but everything works fine in my system.
Could you please make sure that you have these environment variables:

`PATH`
[code]

`PYTHONPATH`
[code]

[2017-10-01 00:12] NovaViper commented on #29
I've checked but it still doesn't work. I've completely wiped my computer clean and the extension still doesn't detect the wrapper program

[2017-10-01 00:16] NovaViper commented on #29
I've done something like this all in Path: %ProgramFiles%\Python36;%ProgramFiles%\Python36\Scripts;%SystemDrive%\uGet\bin;%SystemDrive%\uGet;

And in PYTHONPATH: %ProgramFiles%\Python36\Lib;%ProgramFiles%\Python36\Lib\site-packages

[2017-10-01 11:13] slgobinath commented on #29
The problem seems to be strange.
I will try to produce this in a new VM and let you know.
Meanwhile could you please follow the steps given in https://github.com/slgobinath/uget-chrome-wrapper/issues/20 to enable the log and see if there is a log generated by uget-chrome-wrapper.
To get log output, just start a browser with the extension.

[2017-10-02 00:54] NovaViper commented on #29
I can't even get the log to start with Vivaldi or Chrome. loading the extension on chrome gives me the same exact error

[2017-10-02 11:26] NovaViper commented on #29
It seems like the extension and/or the program isn't executing at all, as I can't get a log to generate

[2017-10-02 11:29] slgobinath commented on #29
I guess the problem is with the program.
I will test it in a new VM today and let you know what happens.

[2017-10-03 19:08] slgobinath commented on #29
Now I installed a new Windows 10 in VM with latest Vivaldi, Python 3.6.2 (64 bit) (allowed to create `PATH` variables in the installation wizard), latest uGet (added uget/bin directory to environment variable `PATH`), uget-chrome-wrapper 2.0.5(latest) and the latest uGet Integration extension.

After installing all, I restarted the browser and everything works as expected and I couldn't reproduce

[2017-10-04 00:34] NovaViper commented on #29
Did you put path in the system path? I have everything in the system environmental varaibles

[2017-10-04 00:34] NovaViper commented on #29
And this is occurring on both computers

[2017-10-04 03:17] NovaViper commented on #29
**_WOW_**... Apparently all it took to get it working was a simple reboot of my PC. *Facepalm* Guess even the most simplest solutions make a difference

[2017-10-04 03:17] #29 closed

[2017-10-04 11:28] slgobinath commented on #29
I think the modified `PATH` variable was not applied to the system. Usually, we need to restart the system after modifying this variable.

Anyhow if the problem is solved, I can relax :-)

[2017-10-08 16:19] AirQuick opened #30 "--filename twice?"
It seems the command line is constructed with the `--filename` arg twice.

https://github.com/slgobinath/uget-chrome-wrapper/blob/c247f2a824c6e3f9c7cbed0299501796c49f9fb2/uget-chrome-wrapper/bin/uget-chrome-wrapper#L160

https://github.com/slgobinath/uget-chrome-wrapper/blob/c247f2a824c6e3f9c7cbed0299501796c49f9fb2/uget-chrome-wrapper/bin/uget-chrome-wrapper#L177

Just wondering if it's really exp

[2017-10-09 01:26] slgobinath commented on #30
Thanks for pointing out this. That was a redundant parameter and fixed with https://github.com/slgobinath/uget-chrome-wrapper/commit/da351063f10c7c3a994aad7110cb32bf0a70b566

[2017-10-09 01:26] #30 closed

[2017-10-09 07:08] AirQuick commented on #30
The fix removed the second `--filename`, but I guess you should have removed the first one, otherwise I'm afraid `extract_file_name()` wouldn't take effect.

[2017-10-11 18:22] slgobinath commented on #30
@AirQuick thanks for the PR I didn't notice that problem.

[2017-10-19 00:32] proximous opened #33 "Option to disable by extension or site"
Love this extension, but is there a way to disable it based on extension or site?

For example, on my banking website, without this extension, I can view PDF statements directly in chrome.  With this, when I try to view a statement, uGET launches, and worse does not correctly download the PDF.

So ideally I would like to have this ignore *.pdf downloads, or tell it to ignore my.bank.com downloads.

[2017-10-19 13:52] slgobinath commented on #33
Hi,
Try adding `pdf, my.bank.com` to `Don't interrupt the urls containing these keywords` text box.

[2017-10-19 22:12] proximous commented on #33
Thanks for the reply. That solves it!

[2017-10-19 22:12] #33 closed

[2017-10-19 22:16] DanaMW opened #34 "Catch all downloads"
I would like to know if there is a way to catch all downloads. I have the issue where the zip  file  was below the catch size and  now zip is entered in the applications of fire fox. From then on firefox downloads zips and i have to delete the handlers file .  I have zip in the always download and size set to 1 but it still allows the files to go the firefox. So I would like  simply to catch ALL d

[2017-10-20 15:13] slgobinath commented on #34
If the file is streamed by the server, setting file size to `1` may not work. Try a negative filesize like `-100` and let me know whether it works or not.

However, please note that some strams cannot be successfully downloaded by uGet. Further Google documents are purposefully ignored for a known issue.

[2017-10-20 15:28] DanaMW commented on #34
ok I use firefox mostly but have it installed in both. I will let you know.

[2017-10-20 15:29] DanaMW commented on #34
I forgot to ask. Can * be used for the always catch filename?

[2017-10-20 15:38] slgobinath commented on #34
Nope. Regex is not supported yet.

I didn't mean Google Chrome but anything from Google drive. The extension does not interrupt any Google drive/Google document files regardless of the browser.

[2017-10-20 15:40] DanaMW commented on #34
once zip ends up in handlers.json  then uget doesn't catch it any more so my bet is to just keep them all out by catching them before they get there

[2017-10-21 18:42] DanaMW commented on #34
Ok it resets itself to  0 for a size  if the number is a negative number. And on fire fox it has become almost useless the browser is doing all the downloading. Once it downloads a known (to the browser) file type it adds it to the handlers.json and from that point on that file type is no longer passed to uget.
Can you add uget  as a known handler for all file types? if I had that option on the me

[2017-10-22 15:43] gyratory opened #35 "Garbled filenames"
Firefox Version: Nightly
Distro: Ubuntu 17.10
uGet settings: quiet mode enabled for command line, using aria2 as the plugin

Hi, thank you for the work on integrating uGet with Firefox! This is a pretty good replacement for DownThemAll.

The problem I'm encountering with the Firefox extension has two elements:
1. Non-ASCII or any non-latin character filename becomes garbled, for example `♥♥♥` turn

[2017-10-23 16:18] DanaMW commented on #34
Oh and you are using the type of storage in firefox that gets wiped out when the browser is cleaned. (Settings lost) It is my understanding you can use storage.local to prevent that.

[2017-10-23 16:23] slgobinath commented on #34
Thanks for the suggestion.
I will move to `storage.local` in the next version.

[2017-10-25 12:50] lazyc97 opened #36 "Option to catch magnet link"
I use aria2 with uget so it can handle torrent too, it would be great if the extension support it.

[2017-10-25 22:02] clessley opened #37 "Settings won't save"
One machine Linux 17.10, one machine Windows 7 both running Firefox 56+.

The file type and minimum file size options do not persist after saving. They work until the next session then revert back to default, ie 300.

Can they be manually hard coded, 800 seems to be my sweet spot for min. file size for easier PDF viewing.

[2017-10-25 22:23] DanaMW commented on #37
He currently uses storage that is cleared when your browser is. He has it set to change to more protected memory in the next version

[2017-10-26 21:32] slgobinath commented on #34
Fixed with https://github.com/slgobinath/uget-chrome-wrapper/commit/0b262805eaa540417440959483aef8f8ec391d83

[2017-10-26 21:33] DanaMW commented on #34
Thank you

[2017-10-26 21:33] slgobinath commented on #37
Thanks, @DanaMW.
I have fixed this problem in the PR https://github.com/slgobinath/uget-chrome-wrapper/commit/0b262805eaa540417440959483aef8f8ec391d83.
Note that I am using `storage.sync` so that the extension properties will be synchronized across devices.

[2017-10-26 21:35] slgobinath commented on #36
Hi,
Right-click on the Magnet link and select `Download with uGet`.
It should work. If not, please do let me know.

[2017-10-26 21:36] DanaMW commented on #37
Nice thank you for your work. Umm I was wondering how hard it would be to put a toggle in to allow me to catch all downloads I have to delete the handler once a day or so

[2017-10-26 21:36] slgobinath commented on #35
The filename passed by the extension has nothing to do with the aria2 or uGet level settings. I will fix this soon.

[2017-10-26 21:40] DanaMW commented on #37
I used flashgot all these years and had it set to catch all, I don't use the browser to do any file sorting I have other methods so this for me is very aggravating when the browser catches so many files.

[2017-10-26 21:44] slgobinath commented on #34
Let's continue the chat here :-)
Now the minimum file size can be set to `-1` and I hope that should catch all the downloads.
I will test it further and update you and leave this issue open until I confirm it.

[2017-10-26 21:44] DanaMW commented on #34
And thank you, For at least looking into it

[2017-10-26 21:45] DanaMW commented on #34
ok perfect!

[2017-10-26 22:22] #23 closed

[2017-10-28 02:12] NovaViper commented on #37
I'm having this same issue on Windows 10 with Vivaldi. The recent 2.0.6 wrapper and the 2.1.0 extension update makes the settings not save nor does the extension interrupt downloads anymore

[2017-10-28 05:12] DanaMW commented on #34
Thank you for your work and changes!

[2017-10-28 13:00] slgobinath commented on #34
Hi,
Now you can set `-1` to the minimum file size and which should interrupt all the possible downloads.
If your requirement is satisfied, please close this issue.

Thanks

[2017-10-28 13:01] #34 closed

[2017-10-28 13:17] bobafetthotmail opened #38 "The linux installation script still points to v2.0.5"
**install_uget_chrome_wrapper.sh** still downloads the v2.0.5 version.

editing the script manually to use links pointing to v2.0.6 folder works fine.

While you are at it, what about making a "latest" folder instead of "v2.0.6" for the script?

This way people can update the uget-chrome-wrapper by just running again the same script they downloaded before, and you don't need to remember to update

[2017-10-28 16:40] slgobinath commented on #38
Your suggestion makes sense.
However, we cannot create all the releases to `latest` because it will not help tracking version changes. The Arch build also requires new releases based on version.
I have updated the script to 2.0.6 for the moment but I will find out a way to use the same script to update `uget-chrome-wrapper`.

[2017-10-28 16:42] slgobinath commented on #37
@NovaViper I couldn't reproduce this on my Linux machine with Vivaldi but will try on my Windows VM and let you know.

@clessley you reported this problem for the 2.0.9 version. Do you still have this issue?

[2017-10-28 16:44] slgobinath commented on #35
Hi,
Could you please check the new extension (2.1.0) and uget-chrome-wrapper (2.0.6) and see whether this problem persists?
If it is still there, please send me the link which causes this problem so that I can test and find the solution.

Thanks

[2017-10-28 17:10] bobafetthotmail commented on #38
Ok, thanks.

[2017-10-28 17:10] #38 closed

[2017-10-28 17:16] slgobinath commented on #38
Hi,
Now the script is updated with the commit https://github.com/slgobinath/uget-chrome-wrapper/commit/d54a69e4468ec699df0c01603d33c840967f0b67 to automatically check the latest version and to install it.

[2017-10-28 17:18] slgobinath commented on #21
Closing this issue since there are no more updates on this.
I hope it has been fixed.

[2017-10-28 17:18] #21 closed

[2017-10-28 17:40] bobafetthotmail commented on #38
Nice!
Thanks again :)

[2017-10-28 19:34] gyratory commented on #35
I've updated the extension and wrapper to the latest versions and it works as expected now in Nightly.

Good stuff!

[2017-10-28 19:34] #35 closed

[2017-10-28 23:21] clessley commented on #37
Issue on Linux is 2.1.0.

[2017-10-31 14:40] slgobinath commented on #37
Hi,
Those who report settings won't change in Firefox, please check the architecture of your system and Firefox. I also got this issue in my Windows 10 VM (**64 bit**) running Firefox **32 bit**. After replacing the Firefox by the 64bit version, the problem has been fixed.

I did not get this problem in my Ubuntu 17.10 VM because already I had 64 bit Firefox there.

FYI: The Firefox web installer

[2017-10-31 15:46] clessley commented on #37
10-30-2017 uget-chrome-wrapper updated on the Ubuntu Mate 17.10 machine which is 64 bit. The settings are now retained across browser restarts and machine reboots. The extension reads as 2.1.0. Thanks.

[2017-10-31 15:46] #37 closed

[2017-10-31 16:28] #36 closed

[2017-11-03 20:49] Michael-Z-Freeman commented on #21
Thanks for the fix. Has not reoccurred so far :)

[2017-11-09 02:27] omkarnathsingh opened #39 "uget downloader is unable to start from few services"
I have installed uget-chrome-wrapper from PPA in Ubuntu 17.10.
From few websites like Ubuntu.com when I download .iso files, it starts in uget, but I am unable to download from google drive. Is it a known issue?

[2017-11-09 02:40] slgobinath commented on #39
Yup.
Google Drive is not supported purposefully due to this problem: https://askubuntu.com/questions/770753/how-to-download-large-google-drive-file-with-resume-support-in-ubuntu
Also, see https://github.com/slgobinath/uget-chrome-wrapper/issues/6

[2017-11-09 03:39] omkarnathsingh commented on #39
Thanks Sir for highlighting the issue. I will try some alternatives.

[2017-11-09 03:39] #39 closed

[2017-11-09 22:25] mahdiG opened #40 "Can't install wrapper"
I use ubuntu 17.10. I added the wrapper ppa but got an error during installation:
[code]

[2017-11-11 13:09] github-maverick opened #41 "Can't install uget-chrome-wrapper.sh"
The uget-chrome-wrapper.sh file downloaded succesfully but when I tried to run it, it displayed this error:
[code]

and the extension is displaying `Error: Unable to connect to the uget-chrome-wrapper`

[2017-11-11 13:18] slgobinath commented on #41
May I know your browser and its architecture (32 bit or 64 bit), operating system and Python 3 version. Also please restart your system and see whether it fixes the problem.

Thanks

[2017-11-12 17:04] JamesYeoman opened #42 "[Question] Any plans to add in compatibility for Firefox Quantum?"
I am currently going through my Firefox extensions and making sure I am future-proof. Are there any plans for Firefox Quantum compatibility? If not, I will get to looking for alternatives.

[2017-11-12 17:43] bobafetthotmail commented on #42
Some context:

The firefox addon isn't marked as "LEGACY" in the addon list (so it is a webextension) and the core project here runs on Chrome and derivatives (that run only webextensions), so it's reasonable to assume that the addon is compatible with Firefox Quantum  (Firefox 57).

Yet the addon page on mozilla addon site states it isn't compatible with Quantum https://addons.mozilla.org/en-US/f

[2017-11-12 17:44] slgobinath commented on #42
You mean Firefox 57?
If so it is already supported. Already I am using this extension with my Firefox beta.

Thanks for pointing out that message. I will check that.

[2017-11-12 17:47] slgobinath commented on #42
I think other developers also have the same question. Whatever the problem is; I guarantee that I will resolve them and ensure the support to latest Firefox :-)

[2017-11-12 17:51] DanaMW commented on #42
I use it on FF 58 so I know it is compatible. Just so you can rest assured.

[2017-11-13 07:53] github-maverick commented on #41
Firefox 56.0.2
Solus 3 Budgie 64 Bit
Python 3.5
I had already restarted twice

[2017-11-13 08:15] github-maverick commented on #41
I don't know what was the problem yet.
But I did this in the terminal and it worked.
[code]
I wonder why it didn't install by adding sudo before the command.

[2017-11-13 08:57] cdytoby commented on #20
sorry but I have this problem too, and after uncomment these, I still can't find the log, where exactly is the log?

C:\Users\[myusername] doesn't have the log file.

[2017-11-13 11:33] slgobinath commented on #41
Based on Google search, it is something related to `sudo`. People have reported that they get such problem with `sudo -i` and other commands with sudo.
Since it is not related to `uget-chrome-wrapper` I close this issue.
This link may be useful for you: https://askubuntu.com/questions/170216/sudo-doesnt-work

[2017-11-13 11:33] #41 closed

[2017-11-13 11:36] slgobinath commented on #40
Hi,
Thanks for reporting this issue. Since I was busy in past few days, I couldn't have a look at this. Meanwhile, you can install `uget-chrome-wrapper` using the shell script.

[2017-11-13 14:19] bobafetthotmail commented on #41
@slgobinath might be a good idea to add a line in the generic linux installation instructions https://slgobinath.github.io/uget-chrome-wrapper/#manual-installation-for-all
to say that if **sudo** isn't working you should use **sudo su** or just **su** to get into a root shell first and then run **sh install_uget_chrome_wrapper.sh** from there.

[2017-11-13 14:21] slgobinath commented on #41
@bobafetthotmail sure I will update the document.

Thanks

[2017-11-14 11:20] slgobinath commented on #42
Hi @JamesYeoman,
The problem was on Addon website and has been fixed. Please see https://github.com/mozilla/addons-server/issues/6905

[2017-11-14 11:20] #42 closed

[2017-11-16 15:05] SeunLanLege opened #43 "Doesn't work in firefox quantum"
What the title says

[2017-11-16 15:08] slgobinath commented on #43
Hi,
Could you please share your operating system and the architecture of both Firefox and OS (64 bit or 32 bit) because I am already using it with my Firefox Quantum on Linux Mint and Arch.

Thanks

[2017-11-16 15:10] SeunLanLege commented on #43
Ubuntu 16.04, Firefox Nightly 59.0a1

[2017-11-16 15:12] slgobinath commented on #43
Is your Firefox 32 bit or 64 bit? (You can check this in the Help --> About Firefox dialog)

[2017-11-16 15:14] SeunLanLege commented on #43
64bit

[2017-11-16 15:25] slgobinath commented on #43
Then it seems to be a new issue. I will have a look at it and let you know.

Thanks

[2017-11-17 00:30] perfectcream commented on #43
Hi! I'm using Firefox Quantum (57.0) x64 on Microsoft Windows [version 10.0.16299.64] (a.k.a. Windows 10 Fall Creators Update 1709) with the same problem.

I think this problem may be related to these issues below:

* pip issues UnicodeDecodeError on Windows 10 for Russian language #4251
https://github.com/pypa/pip/issues/4251

* Add one more fail-safe when decoding console to str in Py3 by sakura

[2017-11-17 11:28] prpdesigns commented on #43
Kubuntu 14.04 64bit, Firefox 57.0 64bit doesn't work either

[2017-11-17 16:29] MichaelTunnell commented on #43
It works fine for me in KDE Neon using Extension v2.1.0 and uGet 2.0.10

Here is what I think the issue is.

@SeunLanLege I think your issue is the usage of Firefox Nightly, try it in a different version of Firefox please so we can get more data on the issue.

@perfectcream I think your issue is the usage of Windows 10. I am not sure how the extension locates uGet on Windows. @slgobinath could you

[2017-11-17 16:36] DanaMW commented on #43
It works on windows 10. In chrome Firefox and Vivaldi. I use wrapper 206. the uget extension and the beta Uget 2.1.6

[2017-11-17 16:37] prpdesigns commented on #43
@MichaelTunnell uGet 2.0.10, extension 2.1.0

[2017-11-17 16:59] SeunLanLege commented on #43
More details on it though - Right clicking and selecting `Download with uget` works fine.

but it doesn't intercept downloads.

[2017-11-17 17:37] DanaMW opened #44 "Chrome version saving to /Downloads/undefined"
I am not exactly sure when it started because I use FF the most but while working with chrome Dev version 64.0.3269.3 (Official Build) dev (64-bit) I had the uget toggled off to save the internal backups from Stylus and Tamper and it kept saving to /Downloads/undefined .
I checked the setting for download folder (correct), the settings for the extension on the tool bar (it was off while i download

[2017-11-17 17:38] DanaMW commented on #44
Forgive me I mean uget was toggled ON. The more I think about it , this might not be your issue?? It is doing it toggled on or off. Also on firefox on some files I get an '_' at the start and end of file names once sent to uget. _ _ filename.ext _ _ and also they are tagged with __D__Downloads__filename.ext sometimes. It goes to the normal dialog (and looks normal there) then fails to download (po

[2017-11-17 17:38] DanaMW commented on #44
Lastly can uget support blob?
tampermonkey-backup-chrome-2017-11-17T06-06-08.494Z.zip
blob:chrome-extension://gcalenpjmijncebpfijmoaglllgpjagf/a4abde9a-5983-4a23-962

[2017-11-17 23:07] slgobinath commented on #44
Hi,

Could you please uninstall the extension and try to save the file. Because uGet extension does not modify the filename in default browser download.

It should have the extension. I will test it on my Windows VM and let you know.

The extension replaces some special characters by `_`. Could you please share the link (if public) so that I can test it and fix the problem.

Again if possible plea

[2017-11-17 23:26] slgobinath commented on #43
Hi @MichaelTunnell and @perfectcream,
In Windows uget bin directory must be added to the `PATH` variable. See the installation guide for Windows and this [screenshot](https://raw.githubusercontent.com/slgobinath/uget-chrome-wrapper/master/build/windows/add_uget_to_path.png).

@SeunLanLege if `Download with uget` is working the problem is with the extension. However, I couldn't reproduce it in my s

[2017-11-17 23:29] DanaMW commented on #44
I will make that a priority. Thanks for answering.

[2017-11-18 02:48] DanaMW commented on #44
OK here  is one  example. Firefox  developers - windows 10 - Wrapper 2.0.6 uget 2.1.6.  I went to  site https://chrome-extension-downloader.com/ and  put in Tamper beta's url of https://chrome.google.com/webstore/detail/tampermonkey-beta/gcalenpjmijncebpfijmoaglllgpjagf?hl=en-US
and  it opened  uget with the file url exactly:  https://chrome-extension-downloader.com/f1519f0fd4ac50fd3fdfa3a967992fc

[2017-11-18 02:59] DanaMW commented on #44
Ok  Update it did it at that site 3 times in a row.  downloading Tampermonkey . stylus and stylish. it did the same thing on all  three

[2017-11-18 04:38] slgobinath commented on #44
Thanks for the update. It occurs on my Linux machine with FF as well. Will fix soon.

[2017-11-18 04:45] perfectcream commented on #43
Hi! @slgobinath, @MichaelTunnell and @DanaMW,

After I add the path of uGet to System Environment Variables **PATH**, I can download files with right click on context menu, thank you so much :)

But I can't replaces default download manager by uGet Download Manager (namely intercept downloads).

As you can see in screenshot: [uGet Integration](https://imgur.com/a/ZYalm)

It can found `uGet and uge

[2017-11-18 05:02] perfectcream commented on #43
Hi @slgobinath,

I had try another PATH setting, it works! I can replaces default download manager by uGet Download Manager now.

How to reproduce it?

1. extra and copy uGet files in `C:\uGet` not C:\Program Files (x86)\uGet\
2. set the path of uGet in  System Environment Variables **PATH** to `C:\uGet\bin`
3. install Python 3.4 or latest
4. download and install uget-chrome-wrapper_2.0.6.0.exe
5.

[2017-11-18 06:02] DanaMW commented on #44
Thank you Gobinath.

[2017-11-18 12:31] slgobinath commented on #43
Hi @perfectcream,
Thanks for the update. I will update the webpage soon including your steps to follow.

[2017-11-18 15:33] DanaMW commented on #43
When I first started using this fine setup I had to delete handlers.json in the Firefox profile folder to get a fresh start. After that uget started (for the most part) catching downloads. Firefox will recreate handlers.json on start up but if you have custom download handling in Firefox make notes of it before you delete. Maybe this will help you as it did me.

[2017-11-20 05:16] SeunLanLege commented on #43
@slgobinath  just tried setting the minimum download size to -1. Still didn't work.

yes i can see `info: found uget and uget-chrome-wrapper`

[2017-11-20 17:10] prpdesigns commented on #43
@DanaMW @slgobinath @MichaelTunnell deleting the **handlers.json** file worked for me.

Thanks!

[2017-11-20 17:24] slgobinath commented on #43
Hi @perfectcream,
Could you please share the location of `handlers.json`.

@SeunLanLege could you please try this solution.

Thanks.

[2017-11-20 17:38] SeunLanLege commented on #43
@slgobinath just deleted my `handlers.json` in `home/.mozilla/firefox-trunk/(some wierd folder name)/handlers.json`

and it works perfectly, thanks everyone :raised_hands:

[2017-11-20 17:38] #43 closed

[2017-11-20 19:07] slgobinath commented on #43
Thanks to all.
I will update the README it as a known issue.

[2017-11-20 21:26] DanaMW commented on #43
handlers.json is in the users FF profile folder for the record. And thank YOU for your work.

[2017-11-21 00:29] perfectcream commented on #43
Hi @slgobinath,

My handlers.json can be located at:
`c:\Users\USER_NAME\AppData\Roaming\Mozilla\Firefox\Profiles\xxxxxxxx.default\handlers.json`

**USER_NAME** may include unicode characters.
**xxxxxxxx** is random string.

Thanks a lot :)

[2017-11-23 15:41] slgobinath commented on #44
Fixed the `_` in filename problem with the commit https://github.com/slgobinath/uget-chrome-wrapper/commit/4e173d3515684bec56b0bac770221ceea86fdd81. Will be included in the next release.

Also, thank you for introducing Grab All Media addon I am thinking about integrating it with uGet integration addon.

[2017-11-23 16:12] slgobinath commented on #44
Could you please elaborate more on the *undefined* issue.

Here is my interpretation: "When you turn off the uGet Integration extension and downloads something form Chrome, it is saved with a file name `undefined`" Is that correct?

If so, could you please uninstall the extension and save the file and see whether this happens. It would be helpful if you can share the link for testing purposes.

Th

[2017-11-23 16:18] DanaMW commented on #44
I will do that Yes. But to be more clear they (Chrome) save in a folder called "undefined" It creates that folder and saves all files that i download to "." on the menu which is /home/dana/Downloads or d:\Downloads. Both linux and windows does it, only on Chrome. Could be me I will do as you suggested.

[2017-11-23 16:26] DanaMW commented on #44
So Chrome saves to Downloads/undefined  is what I mean. I am used to it so I was letting it wait to see if it was something I am doing but I have not figured it out yet.

[2017-11-23 16:53] DanaMW commented on #44
It is something to do with save in for sure. If it is removed it does not do it and if it is installed but disabled it does not do it but as soon as I enable it it once again does it. I redid ALL the settings looking for mistakes and even  invisible  chars. in my text but nothing wrong or found and it still does it.

[2017-11-23 17:11] DanaMW commented on #44
I just noticed up there i once again included uget info. I took it out . I don't know why I cant stop doing that lol sorry.

[2017-11-28 07:29] gvds commented on #20
Getting the "unable to connect to uget-chrome-wrapper" error in Firefox 57 on Ubuntu 17.10.
No log file generated after uncommenting the relevant lines.
Working fine in Vivaldi, however, so it's definitely a Firefox issue.

[2017-12-01 01:37] perfectcream opened #45 "[Info] The Limitation to the length of the System PATH variable on Windows"
Hi, @slgobinath

I encountered some strange behaviours when I download files with uGet.
After investigating, I found that, the length of PATH variable on Windows had limitation!!

Please refer the URL below for more details info.

**Limitation to the length of the System PATH variable | Intel® Software**
https://software.intel.com/en-us/articles/limitation-to-the-length-of-the-system-path-variable

[2017-12-01 11:41] slgobinath commented on #45
Hi,
Is that the reason for your problem mentioned in issue #43?

[2017-12-01 18:42] perfectcream commented on #45
Hi, @slgobinath

There are some connections, but #45 is not the best solution of the problem that I already mentioned in issue #43.

In #43, the issue is uGet should be put in **root directory of disk** (C:\uGet or D:\uget for example).

In #45, the issue is that, if the PATH variable over the limitation, it would be **truncated** by Windows.

There is an example below:

[How do I add to the Windo

[2017-12-02 19:34] slgobinath commented on #45
Hi,
Thanks for the information. I have redesigned the webpage and included this in the [FAQ](https://slgobinath.github.io/uget-chrome-wrapper/#faq) section.

[2017-12-02 19:34] #45 closed

[2017-12-04 00:24] Casse19 commented on #20
"3. Open the browser and share the content of ~/uget-chrome-wrapper.log. Windows users will get this log in their User directory."

It is very frustrating when you state a step as this and someone like me has no idea what you are talking about or how to do this. So, can you please explain how to do this step.

[2017-12-04 02:33] slgobinath commented on #20
@Casse19, I have updated the comment. Please have a look again.

Thanks

[2017-12-04 02:34] slgobinath commented on #20
@gvds are you using Firefox 64 bit or 32 bit?

[2017-12-04 05:48] gvds commented on #20
Firefox 57.0.1 (64-bit) on Kubuntu 17.10

[2017-12-06 01:52] Casse19 commented on #20
@slgobinath Hello, I appreciate you trying to make this more clear. However it has been a huge headache to figure how to make this to work to integrate Uget. For now, I had to revert back to previous version of Firefox so I could use Flashgot to integrate Uget. I had this all set up and it has been working beautifully. Then Firefox upgraded and Flashgot was not currently compatible. Anyway, it was

[2017-12-06 12:15] AirQuick opened #46 "Setting uGet directory in the options dialog"
Feature request (for Windows).

Putting the uGet program path into `PATH` environment variable is cumbersome. Also, since there are a lot of DLLs in the uGet bin directory, I'm a bit reluctant to include it in `PATH`.

So, it would be nice if we can specify the uGet program dir (such as `c:\program files (x86)\uget`) in the options dialog. Then we won't have to touch `PATH` at all. (Putting Python

[2017-12-30 09:23] youxiaojie opened #47 "is "sudo mkdir -p /usr/lib64/mozilla/native-messaging-hosts" necessary?"
I use a newly installed debian 9.3 64 bit,with the orginal 64bit firefox.I just found  /usr/lib64/mozilla/native-messaging-hosts directory and copy the json file. "#cp conf/com.javahelps.ugetfirefoxwrapper.json /usr/lib/mozilla/native-messaging-hosts/"  and then "#cp bin/uget-chrome-wrapper /usr/bin/; chmod +x /usr/bin/uget-chrome-wrapper" restart firefox the firefox extension works ok.

so I doub

[2017-12-30 12:04] slgobinath commented on #47
Hi,

It is not necessary if everything works fine. I had some issues reported related to the Firefox architecture and system architecture. In such cases only, `lib64` was required.

However, I create all the required files to hide the complexity from the users. Otherwise, I have to ask them to trial and test each file.

[2017-12-30 12:04] #47 closed

[2017-12-30 12:13] slgobinath commented on #46
Hi,
I am little against to adding an option in the extension because it is required only in Windows and it will let people specify different locations. There is more chance of asking support for other download managers too.
There is a discussion going on with uGet Team on providing an installer for uGet that will add a shortcut to uGet in system PATH. If that works, we can overcome this problem.
W

[2017-12-31 13:12] AirQuick commented on #46
Hi Gobinath,
Interesting. Can you point me to the discussion thread about the installer?

Anyway, I'm afraid the installer would help the portable mode introduced in uGet 2.0.6.

[2017-12-31 15:43] slgobinath commented on #46
Hi,
The discussion is in mail thread. The portable installation will be still available but the installer will add the uget-gtk.exe to PATH so the wrapper can easily identify it.

[2018-01-01 02:11] iambesi commented on #20
Hello,

For Windows users who are facing this issue, I believe that I have found the problem.  I am currently running Firefox 57.0.1 on a Windows 7 test system.  Upon testing / evaluating the add-on, I too was seeing the **Error: Unable to connect to the uget-chrome-wrapper** error message and unable to get the **uget-chrome-wrapper.log** to generate.  After scratching my head for a bit, I realize

[2018-01-01 13:30] slgobinath commented on #20
Hi,
@AirQuick could you please check this `py` vs `python` command issue.

Thanks

[2018-01-01 15:41] AirQuick commented on #20
@iambesi,
As for the first problem (`py` vs `python`), which version of Python do you have? Did you customize the installation?
`py` is the *Python Launcher* inroduced in [Python 3.3](https://docs.python.org/3/whatsnew/3.3.html#pep-397-python-launcher-for-windows) to solve the version dependency isssue. See the specification linked from there or http://learning-python.com/py33-windows-launcher.htm

[2018-01-02 04:45] iambesi commented on #20
Hi @AirQuick,

Thanks for including the link with the background on `py`; I completely understand the rationale for using it and I completely agree with the idea.  I do not know how I missed this new feature -- well, it actually may be due to the fact that most of my work is done in Perl.

Regarding the Python version, I currently have Python 3.6.4 on my system and did not customize the installati

[2018-01-06 20:59] elieobeid7 opened #48 "This plugin causes issues on stackoverflow comment system"
I have firefox quantum, this issue is causing issues with stackoverflow comment system detailed here

https://meta.stackexchange.com/questions/305447/every-time-i-comment-i-have-to-refresh-my-browser-to-see-it

[2018-01-06 21:04] slgobinath commented on #48
Thanks for pointing this out.
I will have a look at this.

[2018-01-14 13:49] slgobinath commented on #48
Hi,
Currently, I am looking at this issue but for testing purposes, I need to reproduce this issue multiple times.
Is there a way to test this behavior without spamming StackOverflow community?

[2018-01-14 18:28] elieobeid7 commented on #48
Do the tests here

https://meta.stackexchange.com/questions/3122/formatting-sandbox

That thread is meant for testing

[2018-01-14 23:20] slgobinath commented on #48
Fixed with https://github.com/slgobinath/uget-chrome-wrapper/commit/aaec89593a581b8c2f0c9cb6b77c34e13891e2a2. Will be included in the next release.

[2018-01-15 01:25] slgobinath commented on #48
New addon is released. Please check whether the problem has been resolved.

Thanks

[2018-01-15 01:25] #48 closed

[2018-01-15 09:19] KaKi87 opened #49 "Filter file extensions and websites"
Hi,

I would like to suggest some improvements in filter settings.

## Filter file extensions

For example, if I do this :
![screenshot](https://i.goopics.net/nEEeK.png)

Yes, all pdf files will be ignored. But if I want to download a file which has "pdf" in the title, but which is actually not a pdf file, it will ignore it, and that's a problem.

So I would like an option for filtering file exten

[2018-01-15 10:34] elieobeid7 commented on #48
The problem on stackexchange is fixed, however:

1. The plugin stopped working after the update, try to download https://vivaldi.com/ or anything using the new plugin on firefox quantum on linux. When you press download nothing happens, the plugin isn't working and it's also breaking firefox's download system

2.  The plugin isn't getting updated, I had to remove it from firefox and reinstall it f

[2018-01-15 11:11] slgobinath commented on #48
Hi,

Did you upgrade `uget-chrome-wrapper`? I am able to download Vivaldi using uGet.

I will have a look at this

[2018-01-15 11:15] slgobinath commented on #49
Makes sense. I went that way because sometimes file name may not be available or may not contain `.pdf`.
I will try to fix it using application type.

[2018-01-15 11:28] elieobeid7 commented on #48
Ok so now it works

- I had to redownload and reinstall `uget-chrome-wrapper` from the site

- Remove the extension and reinstall it from addons.mozilla.org

The process should be automated though because most people won't even know that this issue exists on github. But in any case, everything works now. Thank you so much.

[2018-01-15 11:34] slgobinath commented on #48
Hi,
Thanks for the confirmation.
If you have installed `uget-chrome-wrapper` using the shell script, there is no way I can provide automatic update. If Windows, sorry I don't have a Windows machine to compile the installer. I will release it soon.

I also experienced that issue but I guess I have to check with Firefox side too. Once I resolved it, I can ask in the extension to upgrade the wrapper.

[2018-01-15 11:59] elieobeid7 commented on #48
I installed it in fedora, so using the shell script,  it's okay, I hope people get notified somehow. Have a great day

[2018-01-15 13:18] KaKi87 commented on #49
Or with regex `\.([aA-zZ0-9])$`

[2018-01-18 22:53] PaschalisSposito opened #51 "Problem with latest 2.0.7-1"
Hi,

I installed the latest release but I get the following on Uget extension in both opera and chromium:
Warning: Please upgrade uget-chrome-wrapper to the latest version

I installed from script also and the problem remains....

Also, it does not work... Previous versions were ok.....

I am on Debian 9....

[2018-01-18 22:56] DanaMW commented on #51
Also On my chrome browser It was like that before the update but still says "please upgrade..." And after the update the setup stopped working on both Firefox and chrome.

[2018-01-18 22:57] DanaMW commented on #51
Also when i installed over 2.0.6 it did not update the *.py file,  had to remove the wrapper and reinstall.

[2018-01-18 23:51] slgobinath commented on #51
@PaschalisSposito could you please try removing `uget-chrome-wrapper` manually and install it again?
To remove the file, use the following command:
[code]
@DanaMW it can be a problem with the installer, I will check this.

[2018-01-19 17:22] slgobinath commented on #51
@DanaMW Windows installer has been fixed to uninstall the previous version before installing the current version.

[2018-01-19 17:27] DanaMW commented on #51
Thank you once again.

[2018-01-19 21:26] PaschalisSposito commented on #51
@slgobinath Thanks for your reply.

I did it, but I get the same "Warning: Please upgrade uget-chrome-wrapper to the latest version" and I cannot download any file....

[2018-01-19 23:05] slgobinath commented on #51
Hi @PaschalisSposito,
Could you please check the installed extension version? It should be `2.1.1`.
Sometimes browsers do not upgrade the extension. If the extension is not upgraded you may get the same warning.

[2018-01-19 23:14] PaschalisSposito commented on #51
https://addons.opera.com/en/extensions/details/uget-integration/?display=en 2.1.0 is installed to opera...

newer version exists only at https://chrome.google.com/webstore/detail/uget-integration/efjgjleilhflffpbnkaofpmdnajdpepi/related?utm_source=chrome-app-launcher-info-dialog

[2018-01-19 23:17] PaschalisSposito commented on #51
@slgobinath  Why it was not updated?

[2018-01-19 23:37] slgobinath commented on #51
My bad.
The extension was rejected due to my mistake in manifest file. I will upload the new version.
Is it working in Chrome?

[2018-01-19 23:49] PaschalisSposito commented on #51
Yes....
For now I have installed the chrome version to opera and it is working, but of course it is a "hack"....
When the Opera version will be updated?

[2018-01-19 23:53] slgobinath commented on #51
I have submitted the updated extension.
Usually opera developers will appprove it within 24 hours though there is no gurantee because they manualy check the code which takes time.

[2018-01-19 23:56] PaschalisSposito commented on #51
Thanks for your quick action... I will be waiting for a couple of days.... If there is any problem, I will inform you accordingly....

[2018-01-28 11:01] kbicer opened #52 "Python3-urllib3 Dependency"
Yesterday i tried the wrapper on Solus OS (relatively new on some development branchs) and failed to get it work because could not install the python-urllib3 on system. It would be great to leave a quick note on installation instructions about python module dependency which is important because program is not working without **python3-urllib3**.

During the research, i saw your note in the codes w

[2018-01-28 15:36] slgobinath commented on #52
Thanks for pointing it out. I didn't experience any issue with that in my testing environments including Windows so I did not mention it in the document.
I will update the doc soon.

[2018-01-28 19:35] #52 closed

[2018-01-29 22:42] slgobinath opened #53 "Notice: uget-chrome-wrapper is adopted by ugetdm team"
Hi all,
I am glad to inform that uget-chrome-wrapper has been adopted by uGet team as the official extension for uGet. This repository is deprecated in favor of these two repositories:
 - [uget-integrator](https://github.com/ugetdm/uget-integrator)
 - [uget-extension](https://github.com/ugetdm/uget-extension)

I pushed all commits from this repository to keep the contributions of others. Even thou

[2018-01-29 22:44] DanaMW commented on #53
Thank you.

[2018-01-29 22:45] MichaelTunnell commented on #53
Yep, this is great news for the uGet project.

We are adopting the extension and Gobinath is joining the uGet team. :)

[2018-01-29 22:47] slgobinath commented on #46
This problem has been fixed in current development version with the support of a new [uGet Windows Installer](https://github.com/ugetdm/uget-windows-installer) which is not released yet.

FYI: Please note that uget-chrome-wrapper is merged with uGet. https://github.com/slgobinath/uget-chrome-wrapper/issues/53

[2018-01-29 22:47] #46 closed

[2018-01-29 23:32] slgobinath commented on #53
@MichaelTunnell
The README is updated. Once `uget-integrator` is available, I will update the https://slgobinath.github.io/uget-chrome-wrapper/ too.

[2018-01-29 23:33] slgobinath commented on #51
Opera addon is now available.

[2018-01-29 23:33] #51 closed

[2018-01-31 12:42] sparkthedev opened #54 "Unable to start/launch uGet"
I am using uGet in debian testing. When I first installed uget-chrome-wrapper everything was working fine (uget was already in running state). After restarting system, I am unable to launch uget.
On typing uget-gtk on terminal I have to wait for few minutes for next command but nothing happens.

More Information:
OS: Debian buster/sid
Browsers: Mozilla Firefox 58.0.1 & Chromium 62.0
uGet version:

[2018-01-31 15:33] slgobinath commented on #54
Hi,
uget-chrome-wrapper does not interfere uGet in anyways. To ensure the issue, could you please remove uget-chrome-wrapper and test uGet alone?

[2018-02-01 02:51] slgobinath commented on #49
Fixed with https://github.com/ugetdm/uget-extension/commit/0b56175f7531e8148d293d4b787f1e6b44c0c8bd.
Note that responses may not have content-type or MIME type. In such cases, overriding minimum file size by content type will not work.

Also note https://github.com/slgobinath/uget-chrome-wrapper/issues/53

[2018-02-01 02:51] #49 closed

[2018-02-01 05:54] Baddest-Juju opened #55 "nevermind, wrong repo"
nevermind, wrong repo

[2018-02-01 06:40] #55 closed

[2018-02-01 14:38] sparkthedev commented on #54
On removing uget-chrome-wrapper, uGet still didn't respond. I had to reinstall it. Now its working fine. Thank you for the help! Bro.
You just made uGet as a best DM for Linux platform through your work. Keep up nice work.

Suggestion: As you provided one script (install_uget_chrome_wrapper.sh) to install uget-chrome-wrapper, please provide a script to users to remove it as well. It very painful t

[2018-02-01 18:41] slgobinath commented on #54
Sorry, it is not mentioned in the doc.
However, it is already there https://github.com/slgobinath/uget-chrome-wrapper/blob/master/build/linux/uninstall_uget_chrome_wrapper.sh

[2018-02-01 18:41] #54 closed

[2018-02-14 23:44] stevef9432203 opened #56 "Get a Uget popup"
Error: Unable to connect to uget-chrome-wrapper

Fedora 27

Have no idea how to procede

[2018-02-15 00:55] slgobinath commented on #56
Hi,
How did you install uget-chrome-wrapper?
Please make sure that you have installed it using the following commands:
[code]
and ensure that `/usr/bin/uget-chrome-wrapper` is available

[2018-02-20 09:57] DanaMW commented on #56
Thank  you for the testing update slgobinath.

[2018-02-26 04:50] candrapersada opened #57 "Download any streaming video for uget"
![download-youtube-idm](https://user-images.githubusercontent.com/36833664/36702232-c5799db8-1b88-11e8-90e0-22b6e48ca236.jpg)
add panel download video for uget

[2018-02-26 08:58] candrapersada commented on #53
How To Remove a package and Delete PPA uget-chrome-wrapper?

[2018-02-26 13:18] slgobinath commented on #53
[code]
Please note that uget-integrator and the new add-on are not officially released yet. So I recommend you to stick with uget-chrome-wrapper until we release them.

[2018-02-27 16:53] D4YN3X opened #58 "Magnet/Metalink support"
I don't know if there is a way to do this already but, I wish you actually could press the magnet links and download using uGet.

It is done somewhere in windows or just not support by the wrapper?

[2018-02-27 17:46] MichaelTunnell commented on #58
uGet supports Magnet/Metalink via the aria2 plugin so you would need that enabled. Aria2 doesn't need to be primary but it does need to be enabled.

The extension should be able to detect them but I don't think it does by default because of uGet not having it by default. If you edit the "Interrupt URLs" field and add ".metalink" and ".magnet" then it should work.

[2018-02-27 19:54] D4YN3X commented on #58
Thanks Michael!
I didn't realise I should use "" and then separate by ,

I really love uGet and have been a fan since I first discovered it, so thanks again!
You just made my day. :D

[2018-02-28 07:32] MichaelTunnell commented on #58
You're welcome and I am glad you like our application. :)

Out of curiosity, how long have you been using uGet?

[2018-02-28 08:52] candrapersada commented on #57
add refresh download address for uget

[2018-02-28 09:25] candrapersada opened #59 "refresh download address uget"
Refresh expired download address

[2018-02-28 12:19] slgobinath commented on #59
Hi,
Is it an issue related to uGet or uGet extension?
I think you mean refreshing the expired download links after hours or days in uGet. If so, please report it at https://sourceforge.net/projects/urlget/

Thanks

[2018-02-28 17:57] D4YN3X commented on #58
Hello agian,
I been using uGet for around 2 years now, keeps getting better :D

I just found out it still doesn't open uGet when clicking on magnet links. So what to do?

[2018-02-28 18:42] slgobinath commented on #58
Hi,
Magnet links are not downloadable links. That may be the reason why they are not interrupted by uGet.
You can right-click on a magnet link and select 'Download with uGet'.

[2018-02-28 18:46] D4YN3X commented on #58
Hello,
I see, but it could be perfect if it just understood to download without any right click.
uGet that is pretty much the last big feature they need from my point of view, ofc not the last but most wanted from me right now...

[2018-03-10 22:47] candrapersada commented on #53
replace PPA. plushuang-tw/uget-stable to uget-team/ppa?

[2018-03-12 03:29] MichaelTunnell commented on #53
@candrapersada yes . . . I will be making a blog post about that soon. :)

[2018-03-22 15:10] slgobinath commented on #53
Hi all,
Please note that uget-integrator 1.0.0 has been released.

This repository is no longer actively maintained